.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  padding: 2rem;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.NotFoundPage h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.NotFoundPage p {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary);
}
